/* all components 
#root{
  width:100%;
  position:relative;
  
}
*{
  margin:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
 
  /* flex-wrap: wrap ; 
  min-height: 100vh;
  align-items: top;
  justify-content: center; 
  /* background-image: linear-gradient(79deg, #e2e2b5, #8ea2b1, 48%, #bfdfbf); 
}

/* nav bar on top 
.navbar {
  padding: 20px;
  background-image: linear-gradient(79deg, #e2e2b5, #8ea2b1, 48%, #bfdfbf);
  display: flex;
  justify-content: center;
  /* align-items: flex-start ; 
  margin: 0 auto;
  border-bottom: 5px solid #f2f2f2;
}


.login {
  padding:100px;
}
.registration, .create-main {
  padding:100px;
}


  .reg-form .field input{ 
  margin: 3px;
  display: inline block;
  padding: 0.8rem;
  border-color: black;
  border-radius: 10px;
  text-decoration: solid;
  outline:none;
} 

 .reg-form button{
  border: none;
  background-color: white;
  padding:5px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

.link-btn{
  background: none;
  border: none;
  padding:18px;
  color: black;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
} 
/* home page 

.row {
  position: relative;
  top: 40px;
  height: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
 
}
.head1{
  /* justify-content: center; 
  top: 10px;
}
.card1{
  font-family:sans-serif;
  text-align: left;
  border: 1px solid black;
  margin-top:30px;
  margin-right: 10px;
  /* flex-grow: 3; 
  flex: 1 1 20%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.card1 .title1{
  text-decoration: underline;
}
.column {
  float: left;
  padding: 10px;
  position: relative;
  left:10px;
  justify-content: space-evenly;

}
.job-card{
  position: relative;
  top: 30px;
  width:50%;
  margin-left:25%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  
}
.create-form .field{
  padding:8px;
}
*/
.reg {
  position: relative;
  left:-10px;
}

.reg1 {
  position: relative;
  left:150px;
  top:35px; 
}

.reg_entire{
  background-color: grey;
}

/* .fil-lev{
  position: relative;
  
}

.fil-loc{
  position: relative;
  right: 110px;
}

.fil-app{
  position: relative;
  right: 240px;
}

.fil-clr{
  position: relative;
  right: 410px;
} */

.logout{
  position: relative;
  left:1350px;
  top:-40px;
}

.card{
position: relative;
display: inline-block;
display: flex;
flex-direction: column;
text-decoration: none;
top: 50px;
}
 

.job-d{
  overflow: hidden;
}

.home-btn{
  position: relative;
  left:650px;
  top:7px;
}

.btn1{
  text-decoration: none;
  color: black;
}

.upd{
  position: relative;
  top:10px;
}

.del{
  position: relative;
  left: 600px;
  top:50px;
}

.btn-s{
  position: relative;
  left: 80px;
}

.btn-n{
  position: relative;
  left: 110px;
}

.tit{
  font-size:xx-large;
  text-decoration:solid;
}

.card-title{
  text-decoration: none!important;
}

